<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
		<Property name="LOG_FORMAT">%-5p : [%t] %c{1}:%L --- %msg : %d{YYYY-MM-dd HH:mm:ss}%n</Property>
		<!-- <Property name="lOGS_PATH">/Users/oseong-ae/Documents/GitHub/log</Property> -->
	</Properties>

	<Appenders>
	
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_FORMAT}" />
		</Console>
		
		<!-- 참고) https://logging.apache.org/log4j/log4j-2.17.1/manual/appenders.html -->
		<!-- 해당되는 로그 저장소(log repo)에 날짜별로 폴더를 만들어서 로그(log) 분할 저장 -->
		<RollingFile name="File" 
					filename="/Users/oseong-ae/Documents/GitHub/log/lab.log"
            		filepattern="/Users/oseong-ae/Documents/GitHub/log/$${date:yyyy-MM-dd}/lab_%d{YYYY-MM-dd_HH-mm-ss}_%i.log">
            <PatternLayout pattern="%-5p : [%t] %c{1}:%L --- %msg : %d{YYYY-MM-dd HH:mm:ss}%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 GB" /> <!-- 한계량 -->   
             	<TimeBasedTriggeringPolicy interval="1" /> <!-- 1 시간 -->
            </Policies>
            <DefaultRolloverStrategy max="100" />
            <!-- 파일이 저장될 경우(rollover) 파일 패턴(filepattern)에서 %i(카운터) 인자를 사용하였을 때 
                %i 카운터의 최대값(max value) -->
        </RollingFile>		

	</Appenders>

	<Loggers>
	
		<Logger name="com.project.shop" additivity="false">
			<Level value="INFO"></Level>
			<AppenderRef ref="Console"/>
		</Logger>
	
		<Logger name="org.springframework">
			<Level value="INFO" />
      		<AppenderRef ref="Console"/>
    	</Logger>
	
		<!-- log4jdbc -->		
		<Logger name="jdbc.sqltiming" additivity="false">
			<Level value="WARN" />
			<AppenderRef ref="Console"/> 
		</Logger>
	
		<Logger name="jdbc.sqlonly" additivity="false"> 
			<Level value="INFO"/> 
			<AppenderRef ref="Console"/> 
		</Logger>
	
		<Logger name="jdbc.audit" additivity="false"> 
			<Level value="warn"/>  
			<AppenderRef ref="Console"/> 
		</Logger> 
	
		<Logger name="jdbc.resultset" additivity="false">
			<Level value="warn" />
			<AppenderRef ref="Console"/> 
		</Logger>
	
		<Logger name="jdbc.resultsettable" additivity="false"> 
			<Level value="INFO"/>  
			<AppenderRef ref="Console"/> 
		</Logger>
		
		<!--// log4jdbc -->
	
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
		
	</Loggers>

</Configuration>